<app-recipe-page-crud-menu></app-recipe-page-crud-menu> <br>
<p>Recipe main page</p>

<section class="section">
  <div class="container">

    <div class="columns is-multiline">
      <div class="column is-3" *ngFor="let recipe of recipes">
        <div class="card-image">
          <a class="card-header-title" routerLink="/recipe-single/{{recipe.id}}">
            {{recipe.id}}. {{recipe.name}}

          </a>
          <div class="card-content">
            <img src="assets/img/recipe-thumbnails/keedukartul.jpg" alt="Picture of the recipe">
            {{recipe.note}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
