

<section>
<body>
<div>


<h1>Welcome to our recipe homepage</h1>

<h2>Here you can create new recipes and sort between these what you have already created</h2>


<button type="button" class="Add a new ingredient">New ingredient</button>
<button type="button" class="Edit an ingredient">Edit ingredient</button>
<button type="button" class="Delete an ingredient">Delete ingredient</button>
<button type="button" class="Add a new ingredient">Add a new ingredient</button>


<input class="btn btn-primary" type="submit" value="Submit">
</div>


</body>
</section>
<router-outlet></router-outlet>
