<head>
  <title>Ingredient page</title>
  <script src="https://kit.fontawesome.com/56e753ee12.js" crossorigin="anonymous"></script>
  <!--  TODO: -->
  <!-- These fontawesome icons dont work, no idea why. Will deal with it some time in the future -->
</head>
<div class="tabs is-centered is-medium">
  <ul>
<!--    TODO:-->
<!--    Make the active tab highlighted.-->
<!--    If i put class="is-active" in the first <li>, it only highlights Create.-->
    <li>
      <a routerLink="/create-ingredient">
        <span class="icon is-small"><i class="fa-solid fa-circle-plus"></i></span>
        <span>Create</span>
      </a>
    </li>
    <li>
      <a routerLink="/read-ingredient">
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span>Read</span>
      </a>
    </li>
    <li>
      <a routerLink="/update-ingredient">
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span>Update</span>
      </a>
    </li>
    <li>
      <a routerLink="/delete-ingredient">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Delete</span>
      </a>
    </li>
  </ul>
</div>
